.App {
  text-align: center;
  

}

/* ======= header ======= */
.headerBar {
  display: grid;
}

.heading{
  grid-column-start: 1;
  grid-column-end: 2;
}
.navBar {
  grid-column-start: 2;
  grid-column-end: 3;
}
/* ======= articles list ======= */

.articlesList {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: stretch;
  align-content: stretch;
}

.filterBar {
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  text-align: center; */
}
.articlesHeading {
  /* grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  text-align: center; */
}

.articleCard {
  padding: 40px;
}
  



ul{
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}
