
.App {
  text-align: center;
  max-width: 950px;
  margin: 0 auto !important; 
	float: none !important; 
  /* font-family: Arial, Helvetica, sans-serif; */
}

/* ======= header ======= */
.logIn{
  display: flex;
  content: 13px;
  padding: 0;
}
.loggedInUser {
  font-size: 12px;
  text-align: left;
}
.userSelect {
  align-self: center;
}

.headerBar {
  /* background: #ADFCF9; */
  display: grid;
  /* height: 60px; */
 
 }
 header{
   /* position: fixed; */
 }

.heading{
  grid-column-start: 1;
  grid-column-end: 2;
  text-decoration: none;
}
.heading a {
  font-size: 42px;
  text-decoration: none;
  color: #FF570A;
}
.heading a:visited{
  color: #FF570A;
}
.heading a:hover{
  color: black;
}
.heading a:active{
  color: aquamarine
}

.navBar {
  /* padding: 0px; */
  grid-column-start: 2;
  grid-column-end: 3;
  /* justify-self: center; */
  color :#FF570A;
}
.navBar a{
  font-size: 32px;
  text-decoration: none;
  color: #FF570A;
}
.navBar a:visited{
  color: #FF570A;
}
.navBar a:hover{
  color: black;
}
.navBar a:active{
  color: aquamarine
}
span + span {
  margin-left: 10px;
}
/* ======= Filter articles bar ======= */

select {
  
}


/* ======= articles list ======= */

.articleListContainer{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 100px;
  border-right: 0px;
  margin-right: 0px;
  padding-right: 100px;
  width: 900px; */
}

.articlesList {
  display: grid;
  grid-template-columns: auto auto auto ;
  gap: 20px;
  justify-content: stretch;
  align-content: stretch;
}

.articleCard {
  /* background:rgba(190, 197, 173, 0.144); */
  border-radius:7px;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px ;
  margin: 10px;
  box-shadow: 0px 1px 3px 1px #888888a2;
  /* border: 1px solid #BFBFBF; */
}

/* ======= article card ======= */

 .voteButton {
  border-radius: 7px;
  padding: 5px;
  height: 20px;
  width: 20px;
}
.voter button{
  border-radius: 20px;
  border-color: transparent;
}

.topicLogo{
  border-radius: 4px;
  padding: 5px;
  width: 40px;
  display: top;
  justify-self: center;
}
.articleSubheader {
  /* color:rgb(167, 159, 159); */
  color: rgba(0, 0, 0, 0.425);
}
.articleSubheader a{
  text-decoration: none;
   color: rgba(255, 88, 10, 0.685)
}
.articleSubheader a:hover{
  /* color:rgb(167, 159, 159); */
  color: black;
}
.articleSubheader a:active{
  color: aquamarine;
}
.articleTitle a{
  text-decoration: none;
  color:rgba(255, 88, 10, 0.788);
}
.articleTitle a:hover{
  color: black
}
.articleTitle a:active{
  color: aquamarine;
}
  
/* ======= individual article ======= */

.indivdualArticleContainer {
  display: grid;
    grid-template-columns: auto auto;
  justify-content: center;
}

.individualArticle{
  /* justify-self: center; */
  /* display: grid; */
  /* width: 900px; */
  /* grid-template-columns: auto auto; */
  border-radius:7px;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  box-shadow: 0px 1px 3px 1px #888888a2;
}
.individualArticleTitle{
  /* grid-column-start: 1;
  grid-column-end: 2; */
  justify-self: center;
  color:rgba(255, 88, 10, 0.788);

}
.individualArticleSubheader{

  /* grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 2; */
  color: rgba(0, 0, 0, 0.425);
}

.individualArticleSubheader a {
  text-decoration: none;
  color: rgba(255, 88, 10, 0.685)
}

.individualArticleSubheader a:hover{
  color: black;
}

.individualArticleSubheader a:active{
  color: aquamarine;
}
.articleBody{
  padding: 0px 40px
  /* grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 2; */
}
.voteArticleButton{
  /* grid-row-start: 4; */
  /* justify-self: center; */
  border-radius: 4px;
  padding: 5px;
  width: 20px;
}
.commentBoxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: stretch;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  box-shadow: 0px 1px 3px 1px #888888a2;
  border-radius:7px;
}

.commentBoxContainer textarea {
  justify-self: stretch;
  width: 500px;
  height: 100px;
}

.commentCard {
  padding: 10px 10px 10px 10px;
  margin: 10px;
  box-shadow: 0px 1px 3px 1px #888888a2;
  border-radius:7px;
}
.commentBody {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:1; */
  justify-self: center;
  color: rgba(0, 0, 0, 0.747)
}
.commentSub{
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start:2; */
  color: rgba(0, 0, 0, 0.473);
}
.commentSub a{
 color: rgba(255, 88, 10, 0.685)
}

section .voter {
  display: flex ;
  flex-flow:row ;
justify-content: space-around;
}


.voteUpCommentButton{
  /* grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start:3; */
  border-radius: 4px;
  padding: 5px;
  width: 22px;
}
.voteDownCommentButton{
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start:3; */
  border-radius: 4px;
  padding: 5px;
  width: 22px;
}

/* ======= user styling ======= */

.userContainer{
  /* justify-self: center; */
  display: grid;
  /* width: 900px; */
  border-radius:7px;
  grid-template-columns: auto auto;
  padding: 10px 10px 10px 10px;
  margin: 10px;
  box-shadow: 0px 1px 3px 1px #888888a2;

}
.userAvatar{
  grid-row-start: 1;
  grid-row-end: 3;
  border-radius: 4px;
  padding: 5px;
  width: 300px;
}
.username{
  grid-row-start: 1;
  grid-column-start: 2;
  align-self: center;
}
.usersName{
  grid-row-start: 2;
  grid-column-start: 2;
}

/* ======= general styling ======= */

ul{
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
}

/* ======= general styling ======= */

@media only screen and (max-width: 820px) {
  .App{
    margin: 0 auto !important; 
    float: none !important; 
  }
  .articlesList {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: stretch;
    align-content: stretch;
  }
  .heading a {
    text-decoration: none;
    color: #FF570A;
  }
  .heading a:visited{
    color: #FF570A;
  }
  .heading a:hover{
    color: black;
  }
  .heading a:active{
    color: aquamarine
  }
}

@media only screen and (max-width: 500px) {
  .App{
    margin: 0 auto !important; 
    float: none !important; 
  }
  .articlesList {
    display: grid;
    grid-template-columns: auto;
    gap: 0px;
    justify-content: stretch;
    align-content: stretch;
  }
}